html, body {
	margin: 0;
	padding: 0;
}

#page-container {
	width: 100%;
	margin: auto;
}

#main-nav {
	background:red;
	height: 50px;
}


#header {
	background: blue;
	height: 150px;
}

h1 {
	margin: 0;
	padding: 0;
}

#sidebar {
	background: yellow;
	float: left;
	width: 33%;
}

#content {
	background: green;
}

#footer {
	background: orange;
	height: 65px;
	clear: both;
}